[Unit]
Description=Bai Xiao Sheng server daemon

[Service]
Environment=NODE_ENV=production
Environment=PORT=80
Environment=HOST=0.0.0.0
WorkingDirectory=/data/www-data/baixs
ExecStart=/usr/bin/node server.js
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=syslog
SyslogIdentifier=baixs
KillMode=process
Restart=always
RestartSec=42s

[Install]
WantedBy=multi-user.target
